<div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xx1-2"
    *ngFor="let obj of lista">
        <img src="{{obj.codigo}}.jpg" class="card-img-top">
        
        <div class="card-title">{{obj.nome}}</div>
        <div class="card-body">
            R$ {{obj.valor}} <br>
            <div *ngIf="obj.valorPromo > 0">
                R$ {{obj.valorPromo}}
            </div>
        </div>
        <button class="btn btn-outline-info">Ver +</button>
        <button class="btn btn-outline-success" *ngIf="obj.quantidade>0">Comprar</button>
    </div>
</div>