    <div class="flex flex-row flex-wrap max-w-full gap-3 justify-self-center h-fit mt-5 m-auto">
    <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xx1-2 p-4 justify-center max-w-100 items-center"
    *ngFor="let obj of lista">
        <img src="{{obj.codigo}}.jpg" class="card-img-top max-w-[80%]">
        
        <div class="card-title">{{obj.nome}}</div>
        <div class="card-body">
             R$ {{obj.valor}} <br>
            <div *ngIf="obj.valorPromo > 0">
                R$ {{obj.valorPromo}}
            </div>
        </div>
        <button class="bg-(--white) border-1 border-blue-400 w-full rounded-xl text-blue-600 p-2 md:text-xl 
        transition-colors ease-out duration-200
        hover:bg-blue-500 hover:text-white"
        >Ver mais</button>

        <button class="bg-green-300 border-1 border-green-400 w-full rounded-xl text-green-600 p-2 md:text-xl 
        transition-colors ease-out duration-200
        hover:bg-green-700 hover:text-white" *ngIf="obj.quantidade>0">Comprar</button>
    </div>
</div>